@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}

body {
	height: 100%;
	margin:	20;
	padding: 20;
}

html {
	scroll-behavior: smooth;
}

nav {
	background-color: white;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

nav::after {
	content: '';
	clear: both;
	display: table;
}

nav > ul, .logo {
	margin-top: 5px;
}

.logo {
	float: left;
	color: black;
	line-height: 25px;
	margin: 4px 0 0 60px;
	text-transform: uppercase;
	width: 30%;
}

.logo h4 {
	font-weight: 400;
	font-size: 25px;
}

nav ul {
	float: center;
	list-style: none;
	margin-right: 40px;
	position: relative;
}

nav ul li {
	float: left;
	display: inline-block;
	background-color: white;
	margin: 0 5px;
}

nav ul li a {
	color: rgb(73, 73, 73);
	text-decoration: none !important;
	text-transform: uppercase;
	line-height: 50px;
	font-size: 15px;
	font-weight: 500;
	padding: 8px 15px;
	transition: all .9s ease;
	border-bottom: 3px solid rgba(221, 21, 71, 0);
}

nav ul li a:hover {
	color: rgb(255, 0, 34);
	border-bottom: 3px solid rgb(255, 0, 34);
}

#a-content {border-bottom: none;}
#a-content:hover {border-bottom: none;}

nav ul ul {
	position: absolute;
	top: 55px;
	border-top: 3px solid rgb(255, 0, 34);
	opacity: 0;
	visibility: hidden;
	transition: top .3s;
}

nav ul ul ul {
	border-top: none;
}

nav ul li:hover > ul {
	top: 50px;
	width: 120px;
	opacity: 1;
	visibility: visible;
}

nav ul ul li {
	position: relative;
	margin-left: -40px;
	width: 120px;
	float: none;
	display: list-item;
	border-bottom: 1px solid rgb(219, 219, 219);
}

nav ul ul li a {
	font-size: 14px;
	letter-spacing: 1px;
	transition: all .5s ease;
	color: black;
	font-weight: 500;
}

nav ul ul li a:hover {
	color: rgb(255, 0, 34);
	box-shadow: none;
	border-bottom: 3px solid rgba(221, 21, 71, 0);
}

nav ul ul ul li {
	position: relative;
	top: -52px;
	left: 120px;
}

#show1, #show2, input {
	display: none;
}


.burger {
	display: none;
	cursor: pointer;
	position: relative;
}

.burger div {
	width: 25px;
	height: 2px;
	background-color: rgb(187, 191, 202);
	margin: 5px;
	transition: all 0.3s ease;
}


@media screen and (max-width:1126px) {
	/*.logo {
		width: 25%;
	}*/
	.logo h4 {
		font-weight: 300;
		font-size: 28px;
	}
}

@media screen and (max-width:917px) {
	.logo {
		width: 19%;
	}
}


@media screen and (max-width:876px) {

	nav {
		padding-bottom: 6px;
	}

	.logo {
		width: 100%;
		outline: none;
		margin: 0 0 0 60px;
	}

	.logo h4 {
		width: 100%;
		padding: 8px 0px 10px 10px;
		font-size: 20px;
		font-weight: 400;
	}

	nav ul {
		margin-right: 0px;
		float: left;
	}
	
	nav ul li:hover > ul {
		width: 100%;
	}

	nav ul li a {
		color: black;
	}

	nav ul li, nav ul ul li {
		display: block;
		width: 100%;
		border-radius: 0px;
	}

	nav ul ul a {
		padding-left: 40px;
	}

	nav ul ul {
		top: 50px;
		position: static;
		border-top: none;
		float: none;
		display: none;
		opacity: 1;
		visibility: visible;
	}

	nav ul ul li a {
		font-size: 16px;
		color:black;
		letter-spacing: 2px;
	}

	nav ul ul ul li {
		position: static;
	}

	#show1, #show2 {
		display: block;
		color: black;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 17px;
	}

	#show1 {
		line-height: 50px;
		cursor: pointer;
		padding-left: 15px;
	}

	#show2 {
		display: block;
		transition: all .5s ease;
		padding-left: 40px;
	}

	#show2 i {
		margin-left: 10px !important;
		color: rgb(255, 0, 34);
	}

	#show1 + a, #show2 + a, ul {
		display: none;
	}

	nav ul ul ul a {
		padding-left: 80px;
	}

	[id^=btn]:checked + ul {
		display: block;
	}

	.nav-items {
		display: none;
		transition: all .2s ease;
	}

	.nav-items li {
		opacity: 0;
	}

	.burger {
		display: block;
		position: relative;
		margin: 20px 0 0 10px;
	}
}


.nav-active {
	display: block;
}

@keyframes navItemFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}


.toggle .line1 {
	transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px,-6px);
}







/*
.modal-dialog.em-shop .modal-content,
.modal-dialog.em-contact .modal-content,
.modal-dialog.em-norway .modal-content {
	border-radius: 15px;
}


.modal-dialog.em-shop .modal-content .modal-body img{
	width: 90%;
	margin: 20px 0;
}

.modal-dialog.em-shop .modal-content .modal-body h4{
	font-weight: 400;
	font-size: 20px;
	color: rgb(73, 48, 48);
	letter-spacing: 2px;
	text-transform: uppercase;
}

.modal-dialog.em-shop .modal-content .modal-body p{
	font-weight: 600;
	font-size: 15px;
	color: rgb(95, 95, 95);
	text-transform: initial !important;	
}

.modal-dialog.em-shop .modal-content .modal-body button {
	background-color: rgb(216, 65, 65);
	color: white;
	font-size: 16px;
	font-weight: 400;
	outline: none;
	border: none;
	letter-spacing: 1px;
}*/

.modal-dialog.em-norway .modal-content {
	background-color: black;
	border-radius: 0px;
	padding: 0 20px;
}

.modal-dialog.em-norway .modal-content .modal-header,
.modal-dialog.em-norway .modal-content .modal-footer {
	border: none;
}

.modal-dialog.em-norway .modal-content .modal-body h1 {
	font-weight: 500;
	font-size: 20px;
	color: red;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.modal-dialog.em-norway .modal-content .modal-body p {
	font-weight: 400;
	font-size: 13px;
	color: white;
}

.modal-dialog.em-norway .modal-content .modal-footer button {
	width: 100%;
	background-color: rgb(20, 20, 20);
	color: white;
	font-size: 15px;
	font-weight: 400;
	outline: none;
	border: none;
	padding: 5px 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}




.modal-dialog.em-contact .modal-content .c1,
.modal-dialog.em-contact .modal-content .c2 {
	padding: 10px;
	margin-bottom: 10px;
	width: 100%;
}

.modal-dialog.em-contact .modal-content .c1 [class*=col-],
.modal-dialog.em-contact .modal-content .c2 [class*=col-]{
	margin: 0 5px;
}

.modal-dialog.em-contact .modal-content .modal-body{
	margin: 0;
}

.modal-dialog.em-contact .modal-content p {
	font-weight: 500;
	font-size: 15px;
	color: black;
	text-transform: initial;
}

.modal-dialog.em-contact .modal-content .modal-body .c1 p,
.modal-dialog.em-contact .modal-content .modal-body .c2 p {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 15px;
	color: black;
}


.modal-dialog.em-contact .modal-content .modal-body a {
	font-weight: 600;
	font-size: 14px;
	color: rgb(104, 104, 104);
	outline: none;
	text-decoration: none;
	width: 100%;
	transition: all .4s ease;
}

.modal-dialog.em-contact .modal-content .modal-body a:hover {
	color: rgb(163, 98, 98);
	letter-spacing: 1px;
}

.modal-dialog.em-contact .modal-content .modal-body img {
	width: 70%;
	margin: 0 5px 15px 5px;
	border-radius: 50%;
}

.modal-dialog.em-contact .modal-content .modal-body button {
	background-color: rgb(236, 214, 211);
	color: rgb(255, 0, 34);
	font-size: 16px;
	font-weight: 600;
	outline: none;
	border: none;
}




/* Video */
.Portada {
	background-image: url(../image/Cover.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 760px;
}

.Portada2 {
	background-image: url(../image/Cover-Photo.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 760px;
}

.videoPortada {
	position: relative;
	height: 780px;
  	width: 100%;
  	z-index: 0.9;
  	overflow: hidden;
}

.videoNorway {
	position: relative;
	height: 580px;
  	width: 100%;
  	z-index: 0.9;
  	overflow: hidden;
}

.videoContentEM {
	position: relative;
	height: 900px;
  	width: 100%;
  	z-index: 0.9;
  	overflow: hidden;
}

.videoNorway h3,
.videoContentEM h3 {
	font-weight: 700;
	font-size: 60px;
	letter-spacing: 8px;
	position: absolute;
	z-index: 100;
	width: 100%;
	top: -20px;
	background: linear-gradient(rgb(255, 255, 255),rgba(0, 0, 0, 0));
	color: white;
	text-shadow: 0 5px 10px rgba(0, 0, 0, 0.548);
}

@media screen and (max-width: 990px) {
	.videoNorway h3 {
		font-weight: 500;
		font-size: 40px;
	}
}

#Norway {
	background-color: rgba(0, 0, 0, 0.185);
}

#Norway a {
	position: absolute;
	z-index: 100;
	box-shadow: 0 0 10px rgb(0, 0, 0);
	overflow: hidden;
	transition: all 0.5s ease 0s;
	background-color: rgba(0, 0, 0, 0.397);
	border-radius: 20px;
	text-shadow: 0 5px 10px rgba(0, 0, 0, 0.534);
	text-transform: uppercase;
	padding: 5px 0;
	margin: -60px auto 1.25rem -50px;
}

#Norway a button {
	position: relative;
	width: 110px;
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 2px;
	transition: all 0.5s ease 0s;
	background: none;
	outline: none;
	border: none;
	color: white;
	text-transform: uppercase;
}

#Norway a button:hover {
	text-decoration: none;
	letter-spacing: 3px;
}


.videoPortada video, 
.videoNorway video {
  	width: 100%;
  	height: 100%;
	z-index: -100;
	position: absolute;
	transform: translateX(-50%);
  	background-size: cover;
  	background-attachment: fixed;
}

#portada-r {
	visibility: hidden;
}


@media (min-aspect-ratio: 16/9) {
	#portada-v,
	#portada-r,
	#portada-n,
	#portada-p {
		width:100%;
		height: auto;
	}
}


@media (max-aspect-ratio: 16/9) {
	#portada-v,
	#portada-r,
	#portada-n,
	#portada-p {
		width:auto;
		height: 100%;
	}
	
	.videoNorway a {
		width: 100%;
		font-size: 14px;
	}

	.videoNorway a button {
		font-size: 14px;
	}
}


@media screen and (max-width: 994px) {
	#portada-v {
		visibility: hidden;
	}

	#portada-r {
		visibility: visible;
	}
}

/* Video */












/* Intro */

#Me p {
	font-size: 22px;
	font-weight: 400;
	margin: 120px 0 20px 0;
	color: black;
	padding: 0 20px;
}

#Me .container {
	margin-bottom: 50px;
}

/* Intro */





/* My Play*/

#MePlay {
	background-image: url(../image/Youtube-a.png);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-attachment: fixed;
	-webkit-background-attachmen: fixed;
	-moz-background-attachmen: fixed;
	-o-background-attachmen: fixed;
	background-repeat: no-repeat;
	width: auto;
	height: 600px;
	margin: 0;
}



#MePlay2 {
	/*background-color: rgb(253, 184, 184);*/
	background-color: rgb(255, 255, 255);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-attachment: fixed;
	-webkit-background-attachmen: fixed;
	-moz-background-attachmen: fixed;
	-o-background-attachmen: fixed;
	background-repeat: no-repeat;
	width: auto;
	margin: 0;
}

#MePlay2 .news-active {
	text-align: center;
}

#MePlay2 .photo-circle {
	background-image: url(../image/contact-y.jpg);
	background-size: cover;
	width: 220px;
	height: 220px;
	border-radius: 50%;
	position: relative;
	border: 5px solid white;
    box-shadow: 10px 10px 30px rgb(10 10 10 / 10%);
	margin: 40px auto 1.25rem auto;
}

#MePlay2 {
	text-align: center;
}

#MePlay2 p {
	color: black;
	font-weight: 500;
}

#MePlay2 b {
	color: rgb(255, 0, 0);
	font-weight: 600;
}

#MePlay2 a {
	background-color: rgb(241, 216, 216);
	font-size: 18px;
	font-weight: 500;
	color: rgb(66, 33, 33);
	text-decoration: none;
	padding: 10px 15px;
	transition: .2s ease;
	text-transform: uppercase;
	letter-spacing: 3px;
	border-radius: 10px;
}

#MePlay2 a:hover {
	box-shadow: 0 0 10px rgba(255, 0, 0, 0.514);
}


@media screen and (max-width: 500px) {
	#MePlay2 .photo-circle {
		width: 180px;
		height: 180px;
	}

	#MePlay2 .latest-news-wrap {
		margin: 60px 0;
	}
}


/**/
@media screen and (max-width: 995px) {
	#MePlay2 > div div {
		width: 100%;
		margin-bottom: 25px;
	}
}
/**/

#MePlay2 a i {
	padding: 9px 7px;
	color: rgb(209, 106, 106);
	text-align: center;
}

/*My Play*/




	




/* WATCH */

#Channel {
	margin-top: -20px;
	padding: 20px 0;
	/*background-color: black;*/
	background-image: url(../image/Youtube.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#Channel .section-title-watch h2 {
	font-weight: 400;
	color: white;
	margin-left: 20px;
}

#Channel .section-title-watch h2 font{
	color: red;
	text-shadow: none;
	font-weight: 700;
}

@media screen and (max-width: 390px) {
	#Channel .section-title-watch h2 {
		font-size: 22px;
	}
	
}


.video-responsive {
	position: relative;
	padding-bottom: 56.25%; /* 16/9 ratio */
	height: 0;
	overflow: hidden;
	margin-bottom: 20px;
}

.video-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.button-suscribe-follow {
	overflow: hidden;
	padding: 2px 5px;
	position: relative;
	background-color: black;
	margin-top: 15px;
	width: 200px;
	margin: 40px auto 1.25rem auto;
}

.button-suscribe-follow a h3 b {
	font-weight: 600;
	font-size: 18px;
	transition: all .4s ease;
}

.button-suscribe-follow a:hover h3 b {
	letter-spacing: 4px;
}

.button-suscribe-follow a h3 span {
	font-weight: 700;
	margin-left: 10px;
}


.button-suscribe-follow a {
	color:  rgb(0, 0, 0);
}

.button-suscribe-follow:hover a {
	text-decoration: none;
	color: rgb(235, 41, 50);
}

/* WATCH */







#Contact {
	background-color: black;
	text-align: center;
}

#Contact .logo-c::before {
	content: 'Elizabeth';
	font-size: 30px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.781);
	text-transform: uppercase;
}

#Contact .logo-c {
	position: relative;
	letter-spacing: 8px;
	margin: 100px 0 10px 0;
}

#Contact .logo-c2::before {
	content: 'Mroz';
	font-size: 30px;
	font-weight: 600;
	color: rgb(245, 47, 47);
	text-transform: uppercase;
}

#Contact .logo-c2 {
	position: relative;
	letter-spacing: 8px;
	margin: 0 0 80px 0;
}

#Contact .social-media {
	margin-bottom: 100px;
}

#Contact .social-media li {
	list-style: none;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 40px;
	background-color: rgb(31, 31, 31);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin: 0 10px;
	transition: all .2s ease;
}

#Contact .social-media li a {
	text-align: center;
	position: relative;
}

#Contact .social-media li a i {
	font-size: 30px;
	margin-top: 25%;
	color: white;
}

#Contact .social-media li:hover {
	background-color: rgb(230, 24, 24);
}




/* Footer */

.footer {
	font-weight: 400;
	margin: 10px 0 10px 0;
	color: white;
	text-align: center;
}

.footer a {
	color: rgb(255, 0, 0);
	text-decoration: none;
	font-weight: 500;
}

.footer a:hover {
	text-decoration: none;
}

.footer-s {
	margin-top: -5px;
	background-color: rgb(0, 0, 0);
}

/* Footer */














/*Photo Page*/

.post-slider{
	position: relative;
}

.post-slider i{
	color: white;
	font-size: 80px !important;
	transition: all .3s ease;
	margin: 0 20px;
}

.post-slider i:hover{
	color: rgb(255, 0, 0);
}

@media screen and (max-width: 1040px){
	.post-slider i{
		font-size: 60px !important;
	}
}

@media screen and (max-width: 1024px){
	.post-slider i{
		font-size: 40px !important;
	}
}

@media screen and (max-width: 494px){
	.post-slider i{
		font-size: 20px !important;
		margin: 0 10px;
	}
}

.post-slider .post-wrapper{
	width: 75%;
	height: auto;
	margin: 0px auto;
	overflow: hidden;
	padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post{
	width: 30px;
	height: auto;
	margin: 0px 10px;
	display: inline-block;
	box-shadow: 0 0 10px rgb(0, 0, 0);
}

.post-slider .post-wrapper .post span{
	position: absolute;
	font-weight: 500;
	font-size: 35px;
	color: white;
	text-align: justify;
	margin-left: 30px;
	margin-top: 20px;
	background-color: rgba(0, 0, 0, 0.822);
}

.post-slider .post-wrapper .post span p{
	margin: 0 15px;
}

@media screen and (max-width: 576px)
{
	.post-slider .post-wrapper .post span{
		font-size: 20px;
	}
}

.post-slider .post-wrapper .post video{
	outline: none;
}

.post-slider .post-wrapper .post .slider-image{
	width: 100%;
	height: 100%;
}

.post-slider .prev{
	position: absolute;
	top: 50%;
	left: 10px;
	font-size: 2rem;
	cursor: pointer;
}

.post-slider .next{
	position: absolute;
	top: 50%;
	right: 10px;
	font-size: 2rem;
	cursor: pointer;
}


.goMedia
{
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease 0s;
	background-color: #FFDAFA;
	color: #E602E6;
	border-radius: 30px;
	margin: 1rem;
	width: 170px;
	height: 50px;
}

.goMedia:hover
{
	background-color: #731273;
	color: white;
}

/*Photo Page*/




















/* -Pictures Gallery- */


.title-gallery h1 {
	font-size: 40px;
	font-weight: 400;
	color: white;
	text-shadow: 0 0 10px rgba(255, 167, 167, 0.61);
	text-transform: uppercase;
}

.title-gallery h2 {
	font-size: 30px;
	font-weight: 400;
	color: white;
	text-shadow: 0 0 10px rgba(143, 132, 132, 0.61);
	text-transform: uppercase;
	letter-spacing: 3px;
}

.title-gallery p {
	font-size: 18px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.808);
}

.work {
	margin-top: 25px;
}

.no-gutters {
	margin: 15px 0;
}

.btn-g, .btn-c {
	margin-top: 20px;
}

.btn-c a {
	/*background-color: rgb(172, 173, 166);*/
	color: black;
	width: 100%;
	font-size: 15px;
	font-weight: 400;
	padding: 10px 28px;
	letter-spacing: 2px;
	transition: all .4s ease;
	text-transform: uppercase;
}

.btn-c a:hover {
	text-decoration: none;
	letter-spacing: 4px;
	color: black;
}


.btn-g{
	overflow: hidden;
	padding: 10px 5px;
	position: relative;
	margin-top: 15px;
}

.btn-g a {
	width: 100%;
}

.btn-g a span{
	font-size: 18px;
	font-weight: 600;
	color: rgb(80, 80, 80);
	transition: all .4s ease;
}

.btn-g:hover a{
	text-decoration: none;
}

.btn-g a:hover span {
	color: black;
}


.img-wrapper {
	overflow: hidden;
	position: relative;
	/*border-radius: 10px;*/
	/*box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.507);*/
}

.img-wrapper img {
	transition: transform .8s;
	max-width: 100%;
}

.no-gutters:hover .img-wrapper img {
	transform: scale(1.6);
	-webkit-transform: scale(1.6);
	cursor: pointer;
}


.no-gutters .details {
	position: absolute;
	top: 0;
	left: 15px;
	bottom: 300px;
	right: 15px;
	background: linear-gradient(rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0));
	font-weight: 400;
	color: white;
	transform: scaleY(0);
	transition: transform .5s;
}

.no-gutters:hover .details {
	transform: scaleY(1);
	-webkit-transform: scaleY(1);;
}

.no-gutters .details .detcont {
	position: absolute;
	top: 30%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	padding: 15px;
}

.work .no-gutters .details .detcont h2{
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/* -Pictures Gallery- */













/* -News- */

.section-title-n h1 {
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 4px;
	margin-top: -20px;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.144);
}

.title-n {
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;	
	background-image: url(../image/Back\ Text\ Norway.jpg);
	background-size: auto;
	background-attachment: unset;
	background-position: center;
	width: 100%;
	font-size: 134px;
	animation: title-moving infinite 220s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
	text-align: center;
}
@keyframes title-moving {
	0% {
		background-position: center;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: center;
	}
}


.latest-news-wrap{
	margin-bottom: 20px;
	transition: all .4s ease;
}




.content-em h1,
.content-em h2,
.content-em h3 {
	font-size: 25px;
	margin-bottom: 25px;
}

.content-em h1 {
	font-weight: 800;
	color: rgb(255, 215, 215);
}

.content-em h2 {
	font-weight: 400;
	color: rgb(238, 26, 26);
	text-shadow: 0 0 10px rgba(255, 167, 167, 0.61);
	text-transform: uppercase;
}

.content-em h3 {
	font-weight: 800;
	color: white;
}


.content-em p,
.content-em a {
	margin-top: 10px;
	font-weight: 500;
	font-size: 16px;
	color: black;
}

.content-em a {
	width: 100%;
	display: block;
	margin: 0 0 27px 20px;
	transition: all .6s ease;
	color: rgb(99, 91, 91);
	text-shadow: 0 0 10px rgba(194, 161, 161, 0.712);
	font-weight: 700;
}

.content-em a:hover {
	color: white;
	letter-spacing: 3px;
	text-decoration: none;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.712);
}

.content-em span {
	color: rgb(170, 34, 34);
	font-size: 50px;
	margin-left: 20px;
}

.content-em .box-cn {
	/*background: linear-gradient(rgba(241, 241, 241, 0.171),rgba(139, 134, 136, 0.336));*/
	color: red;
	border-radius: 15px;
	/*box-shadow: 0px 3px 10px rgba(51, 49, 49, 0.568);*/
}

@media screen and (max-width: 776px) {
	.content-em .box-cn {
		text-align: left;
		margin-left: 35%;
	}
}

.content-em video {
	width: 100%;
	height: 100%;
	background: #303952;
  	position: relative;
	background-size: cover;
	background-attachment: fixed;
}


.section-title-advice h2 {
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 1px;
	color: rgb(167, 167, 167);
	text-transform: uppercase;
	margin-bottom: 25px;
}




.news-content{
	padding: 25px;
	transition: all 0.6s ease-in;
	border-radius: 15px;
}


.news-content i, h4{
	font-size: 18px;
	display: inline-block;
}

.news-content i:hover {
	color: rgb(255, 77, 77);
}

.news-content .fa{
	padding: 10px 10px;
	cursor: pointer;

}


.news-content span{
	font-weight: 400;
	font-size: 40px;
	margin-top: 5px;
	text-align: center;
	color: rgb(212, 119, 119);
	transition: all 0.6s ease-in;
}

.news-content p{
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 15px;
	text-align: justify;
	margin-top: 20px;
	text-transform: initial !important;
	color: rgba(0, 0, 0, 0.836);
	transition: all 0.4s ease-in;
}


.news-content p b{
	font-size: 15px;
	color: rgb(219, 109, 95);
	font-weight: 500;
}

.news-content .news-watch a{
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	/*background-color: rgba(219, 106, 106, 0.11);*/
	padding: 10px;
	color: rgb(134, 70, 70);
	transition: all 0.4s ease-in;
	/*border-radius: 30px;*/
	width: 100%;
}


.news-content .news-watch a:hover {
	text-decoration: none;
	letter-spacing: 4px;
}



.news-subtitle {
	font-weight: 800;
	font-size: 30px;
	text-align: center;
}

.fb-share-button {
	font-weight: 800;
	font-size: 16px;
	transition: all .5s ease;
	background-color: white;
	border-radius: 15px;
	padding: 3px 0;
}

.fb-share-button:hover {
	text-decoration: none !important;
	letter-spacing: 1px;
}


.news-active img{
	width: 65%;
	margin: 0 5px 15px 5px;
	border-radius: 50%;
}

@media screen and (max-width: 991px) {
	.news-active img{
		width: 65%;
		margin: 0 5px 25px 17%;
		border-radius: 50%;
	}
}

/* -News- */


#NorwayPlace {
	background-color: rgba(0, 0, 0, 0.075);
}

#NorwayPlace .section-title h2 {
	margin: 40px 0;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: rgb(34, 34, 34);
} 
