@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}

body {
	height: 100%;
	margin:	20;
	padding: 20;
}

body section {
	overflow: hidden;
}

html {scroll-behavior: smooth;}

@supports (-webkit-overflow-scrolling: touch) { 	
	body * {background-attachment: scroll;}
}


nav {
	background-color: white;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	padding: 10px 0;
}

nav::after {
	content: '';
	clear: both;
	display: table;
}

nav > ul, .logo {
	margin-top: 4px;
}

.logo {
	float: left;
	height: 50px;
	width: 17%;
	background-image: url(../image/logo3.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 12%;
	border-radius: 0 40px 40px 0;
}

nav ul {
	float: center;
	list-style: none;
	margin-right: 30px;
	position: relative;
}

nav ul li {
	float: left;
	display: inline-block;
	background-color: transparent;
	margin: 0 5px;
}

nav ul li i {
	display: none !important;
}

nav ul li a {
	color: black;
	text-decoration: none !important;
	text-transform: uppercase;
	line-height: 50px;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 5px 8px;
	transition: all .2s ease;
	border-bottom: 3px solid rgba(255, 255, 255, 0);
}

nav ul li a:hover {
	color: #DC3C4D;
	border-bottom: 3px solid #f3cbd0;
}

.social-nav {
	padding: .5rem;
	float: right;
}

.social-nav a {
	text-align: center;
	margin: 0 4px;
}

.social-nav a i {
	color: black;
	width: 34px;
	height: 34px;
	padding-top: 7px;
	border-radius: 50%;
	transition: all .3s ease;
	font-size: 21px;
}

.social-nav a:hover i {
	color: #DC3C4D;
	background-color: white;
}


.burger {
	display: none;
	cursor: pointer;
	position: relative;
}

.burger div {
	width: 25px;
	height: 2px;
	background-color: rgb(187, 191, 202);
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width:1230px) {
	.social-nav a {
		margin: 0 3px;
	}
}

@media screen and (max-width:1300px) {
	.logo {margin-right: 8%;}}
@media screen and (max-width:1200px) {
	.logo {margin-right: 6%;}}
@media screen and (max-width:1100px) {
	.logo {margin-right: 4%;}}
@media screen and (max-width:1080px) {
	.logo {margin-right: 0%;}}

@media screen and (max-width:1019px) {

	nav {
		padding-bottom: 0;
		background-color: white;
	}

	.logo {
		width: 100%;
		height: 45px;
	}

	nav ul {
		border-top: 2px solid #dddddd;
		margin-right: 0;
		float: left;
	}
	
	nav ul li:hover > ul {
		width: 100%;
	}

	nav ul li {
		display: block;
		width: 100%;
		border-radius: 0px;
		background-color: #ffffff00;
	}

	nav ul li i {
		display: inline-block !important;
		width: 25px;
		height: 25px;
		color: rgb(189, 39, 39);
		background: linear-gradient(to right,rgb(255, 241, 241), rgb(255, 220, 226));
		text-align: center;
		border-radius: 50%;
		padding-top: 6px;
		box-shadow: 0px 3px 5px #e9003e59;
	}

	nav ul li a {
		color: black;
		text-transform: capitalize;
		letter-spacing: 0;
		text-align: center;
		font-size: 13px;
		font-weight: 800;
	}

	[id^=btn]:checked + ul {
		display: block;
	}

	.nav-items {
		display: none;
		transition: all .2s ease;
	}

	.nav-items li {
		opacity: 0;
	}

	.social-nav {
		border-top: solid 1px #dddddd;
		width: 100%;
	}

	.social-nav a {
		text-align: center;
	}

	.social-nav a i {
		font-size: 18px;
		color: rgb(189, 39, 39);
		background: linear-gradient(to right,rgb(255, 241, 241), rgb(255, 220, 226));
		box-shadow: 0px 3px 5px #e9003e59;
	}

	#nav-ct {
		display: none;
	}

	.burger {
		display: block;
		position: relative;
		margin: 20px 0 0 10px;
	}
}

.nav-active {
	display: block;
}

@keyframes navItemFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}


.toggle .line1 {
	transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px,-6px);
}



/*Modal*/
.modal-dialog.em-norway .modal-content {
	background-color: white;
	padding: 0 20px;
	border-radius: 15px;
}

.modal-dialog.em-norway .modal-content .modal-header,
.modal-dialog.em-norway .modal-content .modal-footer {
	border: none;
}

.modal-dialog.em-norway .modal-content .modal-body h1 {
	font-weight: 600;
	font-size: 18px;
	color: black;
	text-transform: capitalize;
}

.modal-dialog.em-norway .modal-content .modal-body p {
	font-weight: 500;
	font-size: 14px;
	color: black;
}

.modal-dialog.em-norway .modal-content .modal-footer button {
	width: 100%;
	background-color: #e2e2e2;
	color: #DC3C4D;
	font-size: 15px;
	font-weight: 600;
	outline: none;
	border: none;
	padding: 5px 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: .3s all;
}
.modal-dialog.em-norway .modal-content .modal-footer button:hover {
	background-color: #dadada;
}

/**/
.modal-dialog.em-mp .modal-content {
	background-color: white;
	padding: 0 20px;
	border-radius: 15px;
}
.modal-dialog.em-mp .modal-content .modal-body h4 {
	font-weight: 500;
	font-size: 16px;
	color: black;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.modal-dialog.em-mp .modal-content .modal-body span {
	font-weight: 700;
	font-size: 12px;
	color: black;
	display: block;
	border-radius: 5px 5px 0 0;
}
.modal-dialog.em-mp .modal-content .modal-body a {
	border-radius: 10px;
	height: 118px;
	display: block;
	padding: 4px 0;
	margin-bottom: 20px;
	transition: .3s ease;
	border: solid 2px #dadada;
	position: relative;
}

.modal-dialog.em-mp .modal-content .modal-body a.mpv1 {
	background-image: url(../image/img_tramite.png);
}


.modal-dialog.em-mp .modal-content .modal-body a.mpv2 {
	background-image: url(../image/img_idioma.png);
}

.modal-dialog.em-mp .modal-content .modal-body a.mpv1:hover {
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.8);
	z-index:-1;
}


.modal-dialog.em-mp .modal-content .modal-body button {
	background-color: #DC3C4D;
	color: white;
	font-size: 13px;
	font-weight: 400;
	outline: none;
	border: none;
	letter-spacing: 2px;
	text-transform: uppercase;
	width: 100%;
}




/* Video */
#Home .Portada {
	background-image: url(../image/cover_home1.PNG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 780px;
	position: relative;
	display: block;
}

#Home .Portada .cover-name::before {
	content: 'Elizabeth Mroz';
}
#Home .Portada .cover-name {
	background-color: white;
	padding: 10px 50px;
	color: black;
	font-size: 26px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	width: 300px;
	height: 60px;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.videoPortada {
	position: relative;
	height: 780px;
  	width: 100%;
  	z-index: 0.9;
  	overflow: hidden;
}

.videoNorway {
	/*position: relative;*/
	position: relative;
	background-attachment: fixed;
	height: 900px;
  	width: 100%;
  	z-index: 0;
  	overflow: hidden;
}

.videoContentEM {
	position: relative;
	height: 900px;
  	width: 100%;
  	z-index: 0.9;
  	overflow: hidden;
}

.videoNorway h3,
.videoContentEM h3 {
	font-weight: 700;
	font-size: 60px;
	letter-spacing: 8px;
	position: absolute;
	z-index: 1;
	width: 100%;
	top: -20px;
	/*background: linear-gradient(rgb(255, 255, 255),rgba(0, 0, 0, 0));*/
	color: white;
	text-shadow: 0 5px 10px rgba(0, 0, 0, 0.548);
}

@media screen and (max-width: 990px) {
	.videoNorway h3 {
		font-weight: 500;
		font-size: 40px;
	}
	#Home .Portada {
		height: 550px;
	}
	#Home .Portada .cover-name {
		width: 250px;
		top: 76%;
		font-weight: 500;
		letter-spacing: 3px;
		font-size: 24px;
	}
}

.videoPortada video, 
.videoNorway video {
  	width: 100%;
  	height: 100%;
	z-index: -100;
	position: absolute;
	transform: translateX(-50%);
  	background-size: cover;
  	background-attachment: fixed;
}

#portada-r {
	visibility: hidden;
}

@media (min-aspect-ratio: 16/9) {
	#portada-v, #portada-r, #portada-n, #portada-p {
		width:100%;
		height: auto;
	}
}

@media (max-aspect-ratio: 16/9) {
	#portada-v, #portada-r, #portada-n, #portada-p {
		width:auto;
		height: 100%;
	}
}

@media screen and (max-width: 994px) {
	#portada-v {
		visibility: hidden;
	}
	#portada-r {
		visibility: visible;
	}
}
/* Video */






/* Intro */

#Me {
	background: linear-gradient(white,rgb(241, 230, 218), rgb(223, 204, 184));
	padding: 0 0 120px 0;
}
#Me .photo-circle {
	background-image: url(../image/photo_me.PNG);
	background-size: cover;
	width: 210px;
	height: 210px;
	border-radius: 50%;
	position: relative;
	border: 5px solid rgb(206, 29, 29);
    box-shadow: 10px 10px 30px rgb(10 10 10 / 10%);
	margin: 10% auto 1.25rem auto;
}
#Me p {
	font-size: 17px;
	font-weight: 500;
	margin: 20px 0 80px 0;
	color: black;
	padding: 0 20px;
	/*text-shadow: 0 5px 10px rgba(2, 0, 0, 0.884);*/
}
#Me b {
	font-size: 24px;
	text-shadow: 0 5px 10px rgba(212, 12, 12, 0);
}

#Me a {
	position: relative;
	overflow: hidden;
	background-color: white;
	margin: auto auto auto auto;
	padding: 8px 6px;
	border-radius: 5px;
}

#Me a button::before {
	content: 'breve historia';
}

#Me a button {
	position: relative;
	width: 180px;
	font-weight: 600;
	font-size: 14px;
	transition: all 0.5s ease 0s;
	background: none;
	outline: none;
	border: none;
	color: black;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 10px 0;
}

#Me a:hover button {
	text-decoration: none;
	letter-spacing: 2px;
}





/* My Play*/

#MePlay {
	/*background-color: rgb(253, 184, 184);*/
	background: linear-gradient(white, rgb(252, 198, 184));
	width: auto;
	margin: 0;
	padding: 40px 0 0 0;
	text-align: center;
	overflow: hidden;
}

#MePlay .news-active {
	text-align: center;
}

#MePlay .photo-circle {
	background-image: url(../image/photo_meplay.jpg);
	background-size: cover;
	background-position: center;
	width: 220px;
	height: 220px;
	border-radius: 50%;
	position: relative;
	border: 5px solid rgb(206, 206, 206);
    box-shadow: 10px 10px 30px rgb(10 10 10 / 10%);
	margin: 40px auto 1.25rem auto;
}

#MePlay p {
	color: black;
	font-weight: 500;
	font-size: 17px;
	margin: 40px 0;
}

#MePlay b {
	color: rgb(255, 0, 0);
	font-weight: 600;
}

/*My Play*/




	



/* WATCH */

#Channel {
	margin: 0;
	padding: 60px 0;
	background: linear-gradient(rgb(252, 198, 184), rgb(255, 223, 215), #d4d4d4);
}

#Channel .section-title-watch i {
	font-size: 20px;
	color: #e21c30;
	margin: 0 10px 0 15px;
	border-radius: 50%;
	padding: 10px 5px 0 5px;
	width: 40px;
	height: 40px;
	background-color: white;
	text-align: center;
}

#Channel .section-title-watch font::before{
	content: "Youtube";
}
#Channel .section-title-watch font{
	color: #000000;
	text-shadow: none;
	font-weight: 700;
	font-size: 26px;
	/*text-shadow: 0 5px 10px rgb(58, 0, 0);*/
}

#Channel .perfil-y {
	background: linear-gradient(#df2235, #5f000a);
	height: 480px;
	text-align: center;
}

#Channel .perfil-y p {
	margin-top: 41px;
	font-weight: 400;
	font-size: 18px;
	color: white;
	letter-spacing: 3px;
	text-transform: uppercase;
}

@media screen and (max-width: 762px) {
	#Channel .perfil-y {
		width: 100%;
		border-radius: 20px;
		margin-bottom: 60px;
	}
	
}

#Channel .perfil-y .photo-circle-y {
	background-image: url(../image/photo_me.PNG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 220px;
	height: 220px;
	border-radius: 50%;
	position: relative;
	border: 3px solid rgba(253, 68, 68, 0);
    box-shadow: 10px 10px 30px rgb(10 10 10 / 30%);
	margin: 40px auto 1.25rem auto;
}

#Channel .box-mp {
	display: block;
	margin-bottom: 80px;
}

#Channel .box-mp1,
#Channel .box-mp2,
#Channel .box-mp3,
#Channel .box-mp4 {
	box-sizing: border-box;
    float: left;
	display: inline-block;
	height: 220px;
	width: 45%;
	margin: 10px 17px;
	background-size: cover;
	background-position: center;
	text-align: center;
}

#Channel .box-mp1 {background-image: linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)),url(../Photos/v5.jpg);}
#Channel .box-mp2 {background-image: linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)),url(../image/photo_refuge.jpg);}
#Channel .box-mp3 {background-image: linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)),url(../image/photo_job.jpg);}
#Channel .box-mp4 {background-image: linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)),url(../image/photo_job.jpg);}

@media screen and (max-width: 1200px) {
	#Channel .box-mp1, #Channel .box-mp2,
	#Channel .box-mp3, #Channel .box-mp4 {
		margin: 10px 13px;
	}
}
@media screen and (max-width: 579px) {
	#Channel .box-mp1, #Channel .box-mp2,
	#Channel .box-mp3, #Channel .box-mp4 {
		width: 100%;
		margin: 10px 0;
	}
}

#Channel a button {
	padding: 8px 12px;
	background-color: rgba(0, 0, 0, 0.521);
	border: solid 2px white;
	font-size: 16px;
	font-weight: 500;
	color: white;
	text-decoration: none;
	transition: .2s ease;
	text-transform: capitalize;
	letter-spacing: 2px;
	position: relative;
	top: 40%;
}

#Channel a button:hover {
	background-color: white;
	color: black;
	font-weight: 500;
}

@media screen and (max-width: 500px) {
	#Channel .photo-circle {
		width: 180px;
		height: 180px;
	}

	#Channel .latest-news-wrap {
		margin: 60px 0;
	}
}


/**/
@media screen and (max-width: 995px) {
	#Channel > div div {
		width: 100%;
		margin-bottom: 25px;
	}
}
/**/





.video-responsive {
	position: relative;
	padding-bottom: 56.25%; /* 16/9 ratio */
	height: 0;
	overflow: hidden;
	margin-bottom: 20px;
}

.video-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.button-suscribe-follow {
	overflow: hidden;
	padding: 2px 5px;
	position: relative;
	margin-top: 15px;
	width: 200px;
	margin: 20px auto 1.25rem auto;
}




#NorwayPlace {
	background: linear-gradient(#d4d4d4, white, white);
	padding: 80px 0;
}

#NorwayPlace .section-title h2 {
	margin: 0 0 50px 0;
	font-weight: 500;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: black;
}

.work {
	margin-top: 25px;
}

.no-gutters {
	margin: 15px 0;
}

.img-wrapper {
	overflow: hidden;
	position: relative;
}

.img-wrapper img {
	transition: transform .8s;
	max-width: 100%;
}

.no-gutters:hover .img-wrapper img {
	transform: scale(1.6);
	-webkit-transform: scale(1.6);
	cursor: pointer;
}

.no-gutters .details {
	position: absolute;
	top: 0;
	left: 15px;
	bottom: 300px;
	right: 15px;
	transform: scaleY(0);
	transition: transform .5s;
	overflow: hidden;
}

.no-gutters:hover .details {
	transform: scaleY(1);
	-webkit-transform: scaleY(1);;
}

.no-gutters .details .detcont {
	position: absolute;
	top: 40px;
	width: 100%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
	padding: 0 0 35px 0;
}

.no-gutters .details .detcont h2 {
	padding: 40px 0;
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 3px;
	text-transform: uppercase;
	background: white;
	color: #ff142b;
}

#NorwayPlace .btn-g {
	background-color: #DC3C4D;
	margin-bottom: 60px;
	text-decoration: none;
}

#NorwayPlace .btn-g button, #NorwayPlace .btn-g:hover button,
#NorwayPlace .btn-g a, #NorwayPlace .btn-g:hover a {
	color: white;
}

@media (max-width:991px) {
	.no-gutters .details {
		left: 13px;
		right: 13px;
	}
	.no-gutters .details .detcont {
		padding: 0;
	}
	.no-gutters .details .detcont h2 {
		font-weight: 700;
	}
}




#Contact {
	/*background-color: white;*/
	background-color: black;
	text-align: center;
}

#Contact .logo-c::before {
	content: 'Elizabeth';
	font-size: 30px;
	font-weight: 300;
	color: white;
	text-transform: uppercase;
}

#Contact .logo-c {
	position: relative;
	letter-spacing: 8px;
	margin: 100px 0 10px 0;
}

#Contact .logo-c2::before {
	content: 'Mroz';
	font-size: 30px;
	font-weight: 600;
	color: rgb(245, 47, 47);
	text-transform: uppercase;
}

#Contact .logo-c2 {
	position: relative;
	letter-spacing: 8px;
	margin: 0 0 80px 0;
}

#Contact .social-media {
	margin-bottom: 80px;
}

#Contact .social-media p {
	color: white;
}

#Contact .social-media li {
	list-style: none;
	text-decoration: none;
	display: inline-block;
	background-color: rgb(224, 224, 224);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin: 10px;
}

#Contact .social-media li a {
	text-align: center;
	position: relative;
}

#Contact .social-media li a i {
	font-size: 30px;
	margin-top: 23%;
	color: black;
	transition: all .3s ease;
}

#Contact .social-media li:hover a i {
	color: #DC3C4D;
}




/* Footer */

.footer {
	font-weight: 400;
	margin: 10px 0 10px 0;
	color: white;
	text-align: center;
}

.footer a {
	color: white;
	text-decoration: none;
	font-weight: 500;
}

.footer a:hover {
	text-decoration: none;
}

.footer-s {
	margin-top: -5px;
	background-color: #DC3C4D;
}

/* Footer */
















/* -Pictures Gallery- */

.btn-more label::before {
	font-family: "Font Awesome 5 Free";
	content: '\f106';
}

.btn-more label {
	transform: rotate(0deg);
}

#btn-more {
	display: none;
}

.container-btn-g {
	position: fixed;
	align-items: center;
	justify-content: center;
	bottom: 40px;
	z-index: 1;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
}

.social-media-i {
	background-color: rgb(253, 244, 244);
	padding: 10px;
	border-radius: 15px;
	visibility: hidden;
	transition: all .2s ease;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.308)
}

.social-media-i a, .icon-more2 {
	display: inline-block;
	position: relative;
	text-decoration: none;
	text-align: center;
	border-radius: 50%;
	transition: all .7s ease;
}

.social-media-i a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: rgb(211, 207, 207);
	color: black;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.199);
	font-size: 20px;
}

.icon-more2 {
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: #ff0e0e;
	color: white;
}

.social-media-i a:hover {
	background-color: white;
	color: #ff0e0e;
}

.social-media-i a {
	margin-bottom: -15px;
	opacity: 0;
	visibility: hidden;
}

#btn-more:checked~ .social-media-i a {
	margin-bottom: 0;
	opacity: 1;
	visibility: visible;
}

#btn-more:checked~ .social-media-i {
	margin-bottom: 10px;
	visibility: visible;
}

#btn-more:checked~ .btn-more label {
	transform: rotate(180deg);
}

.icon-more2 {
	cursor: pointer;
}

.social-media-i a:first-child {
	background-color: #ff0e0e; 
	margin-right: 20px;
}

.social-media-i a:first-child i {
	color: white;
}

@media (max-width:813px) {
	.social-media-i a {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}

	.social-media-i a:first-child::after {
		content: ' V O L V E R';
	}

	.social-media-i a:first-child {
		margin-right: 0;
		width: 100%;
		background-color: transparent;
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
		color: #ff0e0e;
		font-weight: 700;
		font-size: 16px;
	}

	.social-media-i a:first-child i {
		color: #ff0e0e;
		font-size: 20px;
	}
}

/**/
.swiper-section {
	margin-top: 50px;
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: black;
	padding-bottom: 50px;
}

.swiper-section .swiper-container {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.swiper-section .swiper-container .swiper-slide {
	background-position: center;
	background-size: cover;
	width: 60%;
	height: 60%;
	background-color: rgba(151, 103, 103, 0);
	overflow: hidden;
	text-align: center;
}

.swiper-section .swiper-container .swiper-slide video {
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 20px;
}
/**/


.gallery-background {
	width: 100%;
	height: 780px;
	position: relative;
	overflow: hidden;
	margin-bottom: 70px;
}

.left {
	height: 100%;
	width: 42%;
	position: absolute;
	left: 0;
	background-image: url(../Photos/IMG_1489.JPG);
	background-position: top;
	background-size: cover;
	display: flex;
}

.left .top-shadow {
	height: 150px;
	width: 100%;
	position: absolute;
	background: linear-gradient(black, rgba(0, 0, 0, 0));
	flex-direction: center;
	text-align: center;
}

.left .top-shadow .title-top::before {
	content: 'Fotos';
}

.left .top-shadow .title-top {
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: 8px;
	color: white;
	position: relative;
	top: 30%;
}

.right {
	height: 100%;
	width: 58%;
	position: absolute;
	right: 0;
}

.gallery-photos {
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
}

.gallery-item {
	height: auto;
	margin: 0;
	padding: 0;
}

.gallery-photos img {
	max-width: 200px;
	height: auto;
}

.gallery-item img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	transition: 1s;
	padding: 15px;
}

.gallery-item img:hover {
	transform: scale(1.1);
}

@media(min-width:640px) {
	.gallery-photos {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 200px);
		grid-auto-flow: row dense;
	}

	.gallery-item {
		margin: 0;
	}

	.gallery-item:first-child {
		grid-row: span 1;
	}

	.gallery-item:nth-child(2) {
		grid-column: 2 / 2;
		grid-row: span 1;
	}

	.gallery-item:nth-child(6),
	.gallery-item:nth-child(8) {
		grid-row: span 1;
	}
}


@media(min-width:960px) {
	.gallery-photos {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(1, auto-flow);
	}

	.gallery-item:first-child,
	.gallery-item:nth-child(7),
	.gallery-item:nth-child(8) {
		grid-column: span 1;
		grid-row: span 1;
	}

	.gallery-item:nth-child(2) {
		grid-column: span 1;
		grid-row: span 1;
	}
}

@media(max-width: 500px) {
	.gallery-background {
		height: 100%;
	}

	.left {
		height: 500px;
	}
	.left, .right {
		width: 100%;
		position: relative;
	}
	.left .top-shadow .title-top {
		top: 25%;
	}

	.gallery-photos {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 188px);
		grid-auto-flow: row dense;
	}

	.gallery-photos {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, auto-flow);
	}

	.gallery-item:first-child,
	.gallery-item:nth-child(7),
	.gallery-item:nth-child(8) {
		grid-column: span 1;
		grid-row: span 0;
	}

	.gallery-item:nth-child(2) {
		grid-column: span 1;
		grid-row: span 0;
	}

	.gallery-item img {
		width: 188px;
		height: 188px;
		object-fit: cover;
	}

	.logo-load::before {
		content: 'E M';
	}
}









/* -News- */

.section-title-n h1 {
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 4px;
	margin-top: -20px;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.144);
}

.title-n {
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;	
	background-image: url(../image/Back\ Text\ Norway.jpg);
	background-size: auto;
	background-attachment: unset;
	background-position: center;
	width: 100%;
	font-size: 134px;
	animation: title-moving infinite 220s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
	text-align: center;
}
@keyframes title-moving {
	0% {
		background-position: center;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: center;
	}
}


.latest-news-wrap{
	margin-bottom: 20px;
	transition: all .4s ease;
}




.content-em h1,
.content-em h2,
.content-em h3 {
	font-size: 25px;
	margin-bottom: 25px;
}

.content-em h1 {
	font-weight: 800;
	color: rgb(255, 215, 215);
}

.content-em h2 {
	font-weight: 400;
	color: rgb(238, 26, 26);
	text-shadow: 0 0 10px rgba(255, 167, 167, 0.61);
	text-transform: uppercase;
}

.content-em h3 {
	font-weight: 800;
	color: white;
}


.content-em p,
.content-em a {
	margin-top: 10px;
	font-weight: 500;
	font-size: 16px;
	color: black;
}

.content-em a {
	width: 100%;
	display: block;
	margin: 0 0 27px 20px;
	transition: all .6s ease;
	color: rgb(99, 91, 91);
	text-shadow: 0 0 10px rgba(194, 161, 161, 0.712);
	font-weight: 700;
}

.content-em a:hover {
	color: white;
	letter-spacing: 3px;
	text-decoration: none;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.712);
}

.content-em span {
	color: rgb(170, 34, 34);
	font-size: 50px;
	margin-left: 20px;
}

.content-em .box-cn {
	/*background: linear-gradient(rgba(241, 241, 241, 0.171),rgba(139, 134, 136, 0.336));*/
	color: red;
	border-radius: 15px;
	/*box-shadow: 0px 3px 10px rgba(51, 49, 49, 0.568);*/
}

@media screen and (max-width: 776px) {
	.content-em .box-cn {
		text-align: left;
		margin-left: 35%;
	}
}

.content-em video {
	width: 100%;
	height: 100%;
	background: #303952;
  	position: relative;
	background-size: cover;
	background-attachment: fixed;
}


.section-title-advice h2 {
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 1px;
	color: rgb(167, 167, 167);
	text-transform: uppercase;
	margin-bottom: 25px;
}






.btn-g {
	overflow: hidden;
	padding: 8px 5px;
	position: relative;
	margin: 20px 0;
	width: 180px;
	margin: 40px auto 1.25rem auto;
	text-align: center;
	border-radius: 5px;
}

.btn-g a,
.btn-g a button {
	width: 100%;
	font-size: 14px;
	font-weight: 600;
	transition: all .3s ease;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.btn-g a button {
	border: none;
	background-color: rgba(255, 255, 255, 0);
}

.btn-g:hover a,
.btn-g:hover a button {
	text-decoration: none;
	letter-spacing: 2px;
}


/*div line*/

.div-line {
	background-color: #DC3C4D;
	width: 80px;
	height: 5px;
	border-radius: 10px;
	position: relative;
	margin: 40px auto 0px auto;
}








.loader-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	display: flex;
	justify-items: center;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.loader {
	display: inline-block;
	width: 500px;
	height: 20px;
	position: absolute;
	animation: loader 2s infinite ease-in;
	overflow: hidden;
	top: 52%;
	transform: translateX(-50%);
	text-align: center;
}

.loader-inner::before {
	content: 'E L I Z A B E T H';
}
.loader-inner {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	color: black;
	animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
	0% { transform: scale(1.6); -webkit-transform: scale(1.6);}
	25% { transform: scale(1.6); -webkit-transform: scale(1.6);}
	50% { transform: scale(1.5); -webkit-transform: scale(1.5);}
	75% { transform: scale(1.6); -webkit-transform: scale(1.6);}
	100% { transform: scale(1.6); -webkit-transform: scale(1.6)}
  }
  @keyframes loader-inner {
	0% { height: 70%;}
	25% { height: 100%;}
	50% { height: 70%;}
	75% { height: 100%;}
	100% { height: 70%;}
  }
