@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}

body {
	height: 100%;
	margin:	20;
	padding: 20;
}

html {scroll-behavior: smooth;}

@supports (-webkit-overflow-scrolling: touch) { 	
	body * {background-attachment: scroll;}
}


nav {
	background-color: white;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

nav::after {
	content: '';
	clear: both;
	display: table;
}

nav > ul, .logo {
	margin-top: 4px;
}

.logo {
	float: left;
	height: 50px;
	width: 16%;
	background-image: url(../image/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 12%;
}

nav ul {
	float: center;
	list-style: none;
	margin-right: 30px;
	position: relative;
}

nav ul li {
	float: left;
	display: inline-block;
	background-color: white;
	margin: 0 5px;
}

nav ul li i {
	display: none !important;
}

nav ul li a {
	color: black;
	text-decoration: none !important;
	text-transform: uppercase;
	line-height: 50px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	padding: 5px 8px;
	transition: all .2s ease;
	border-bottom: 3px solid rgba(255, 255, 255, 0);
}

nav ul li a:hover {
	color: #DC3C4D;
	border-bottom: 3px solid #f3cbd0;
}

.social-nav {
	padding: .5rem;
	float: right;
}

.social-nav a {
	text-align: center;
	margin: 0 4px;
}

.social-nav a i {
	color: black;
	background-color: rgb(240, 240, 240);
	width: 34px;
	height: 34px;
	padding-top: 7px;
	border-radius: 50%;
	transition: all .3s ease;
	font-size: 21px;
}

.social-nav a:hover i {
	color: #DC3C4D;
	background-color: rgb(245, 233, 233);
}


.burger {
	display: none;
	cursor: pointer;
	position: relative;
}

.burger div {
	width: 25px;
	height: 2px;
	background-color: rgb(187, 191, 202);
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width:1230px) {
	.social-nav a {
		margin: 0 3px;
	}
}

@media screen and (max-width:1300px) {
	.logo {margin-right: 10%;}}
@media screen and (max-width:1080px) {
	.logo {margin-right: 8%;}}
@media screen and (max-width:996px) {
	.logo {margin-right: 3%;}
}

@media screen and (max-width:935px) {

	nav {
		padding-bottom: 0;
	}

	.logo {
		width: 100%;
		height: 45px;
	}

	nav ul {
		border-top: 2px solid #dddddd;
		margin-right: 0;
		float: left;
	}
	
	nav ul li:hover > ul {
		width: 100%;
	}

	nav ul li {
		display: block;
		width: 100%;
		border-radius: 0px;
		background-color: #ffffff00;
	}

	nav ul li i {
		display: inline-block !important;
		width: 25px;
		height: 25px;
		color: #DC3C4D;
		background-color: rgb(245, 233, 233);
		text-align: center;
		border-radius: 50%;
		padding-top: 4px;
	}

	nav ul li a {
		color: black;
		text-transform: capitalize;
		letter-spacing: 0;
		text-align: center;
	}

	[id^=btn]:checked + ul {
		display: block;
	}

	.nav-items {
		display: none;
		transition: all .2s ease;
	}

	.nav-items li {
		opacity: 0;
	}

	.social-nav {
		border-top: solid 1px #dddddd;
		width: 100%;
	}

	.social-nav a {
		text-align: center;
	}

	.social-nav a i {
		font-size: 18px;
		color: #c24052;
		background-color: rgb(245, 233, 233);
	}

	#nav-ct {
		display: none;
	}

	.burger {
		display: block;
		position: relative;
		margin: 20px 0 0 10px;
	}
}

.nav-active {
	display: block;
}

@keyframes navItemFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}


.toggle .line1 {
	transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px,-6px);
}



/*Modal*/
.modal-dialog.em-norway .modal-content {
	background-color: white;
	padding: 0 20px;
	border-radius: 15px;
}

.modal-dialog.em-norway .modal-content .modal-header,
.modal-dialog.em-norway .modal-content .modal-footer {
	border: none;
}

.modal-dialog.em-norway .modal-content .modal-body h1 {
	font-weight: 600;
	font-size: 18px;
	color: black;
	text-transform: capitalize;
}

.modal-dialog.em-norway .modal-content .modal-body p {
	font-weight: 500;
	font-size: 14px;
	color: black;
}

.modal-dialog.em-norway .modal-content .modal-footer button {
	width: 100%;
	background-color: #ecdadb;
	color: #DC3C4D;
	font-size: 15px;
	font-weight: 600;
	outline: none;
	border: none;
	padding: 5px 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/**/
.modal-dialog.em-gallery .modal-content {
	background-color: white;
	padding: 0 20px;
	border-radius: 15px;
}
.modal-dialog.em-gallery .modal-content .modal-body img {
	width: 90%;
	margin: 20px 0;
}
.modal-dialog.em-gallery .modal-content .modal-body h4 {
	font-weight: 400;
	font-size: 20px;
	color: black;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.modal-dialog.em-gallery .modal-content .modal-body p {
	font-weight: 500;
	font-size: 14px;
	color: black;
	text-transform: initial !important;	
}

.modal-dialog.em-gallery .modal-content .modal-body button {
	background-color: #DC3C4D;
	color: white;
	font-size: 13px;
	font-weight: 400;
	outline: none;
	border: none;
	letter-spacing: 2px;
	text-transform: uppercase;
	width: 100%;
}




/* Video */
#Home .Portada {
	background-image: url(../image/cover_home.PNG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 700px;
	position: relative;
}

#Home .Portada span::before {
	content: 'Bienvenido !';
}
#Home .Portada span {
	color: black;
	font-size: 50px;
	font-weight: 800;
	width: 500px;
	height: 60px;
	position: absolute;
	top: 30%;
	left: 0;
}

#Home .Portada .cover-name::before {
	content: 'Elizabeth Mroz';
}
#Home .Portada .cover-name {
	color: white;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 8px;
	width: 300px;
	height: 60px;
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.videoPortada {
	position: relative;
	height: 780px;
  	width: 100%;
  	z-index: 0.9;
  	overflow: hidden;
}

.videoNorway {
	position: relative;
	height: 580px;
  	width: 100%;
  	z-index: 0.9;
  	overflow: hidden;
}

.videoContentEM {
	position: relative;
	height: 900px;
  	width: 100%;
  	z-index: 0.9;
  	overflow: hidden;
}

.videoNorway h3,
.videoContentEM h3 {
	font-weight: 700;
	font-size: 60px;
	letter-spacing: 8px;
	position: absolute;
	z-index: 100;
	width: 100%;
	top: -20px;
	/*background: linear-gradient(rgb(255, 255, 255),rgba(0, 0, 0, 0));*/
	color: white;
	text-shadow: 0 5px 10px rgba(0, 0, 0, 0.548);
}

@media screen and (max-width: 990px) {
	.videoNorway h3 {
		font-weight: 500;
		font-size: 40px;
	}
	#Home .Portada span {
		font-size: 35px;
		width: 280px;
		top: 25%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.videoPortada video, 
.videoNorway video {
  	width: 100%;
  	height: 100%;
	z-index: -100;
	position: absolute;
	transform: translateX(-50%);
  	background-size: cover;
  	background-attachment: fixed;
}

#portada-r {
	visibility: hidden;
}

@media (min-aspect-ratio: 16/9) {
	#portada-v, #portada-r, #portada-n, #portada-p {
		width:100%;
		height: auto;
	}
}

@media (max-aspect-ratio: 16/9) {
	#portada-v, #portada-r, #portada-n, #portada-p {
		width:auto;
		height: 100%;
	}
}

@media screen and (max-width: 994px) {
	#portada-v {
		visibility: hidden;
	}
	#portada-r {
		visibility: visible;
	}
}
/* Video */






/* Intro */
.intro {
	height: 480px;
	padding: 80px 0;
	background-color: #DC3C4D;
}

.intro .intro-text::before {
	content: 'conoce todo sobre Noruega';
	letter-spacing: 5px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	position: relative;
	color: white;
}

.intro .box-ip {
	display: block;
	text-align: center;
	margin: 20px 0;
}

.intro .box-ip1,
.intro .box-ip2 {
	display: inline-block;
	height: 200px;
	width: 400px;
	margin: 10px 15px;
	background-size: cover;
	background-position: center;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 3px 20px #c01627c7;
}

.intro .box-ip1 {background-image: url(../image/Intro\ 1.JPG);}
.intro .box-ip2 {background-image: url(../image/Intro\ 2.JPG);}

@media screen and (max-width: 480px) {
	.intro .box-ip1,
	.intro .box-ip2 {
		width: 310px;
	}
}

.intro a {
	position: relative;
	overflow: hidden;
	background-color: white;
	margin: 40px auto 1.25rem auto;
	padding: 8px 6px;
	border-radius: 5px;
}

.intro a button::before {
	content: 'breve historia';
}

.intro a button {
	position: relative;
	width: 180px;
	font-weight: 600;
	font-size: 14px;
	transition: all 0.5s ease 0s;
	background: none;
	outline: none;
	border: none;
	color: black;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 40px 0;
}

.intro a:hover button {
	text-decoration: none;
	letter-spacing: 2px;
}


#Me {
	padding: 80px 0;
}

#Me .photo-circle {
	background-image: url(../image/photo_me.PNG);
	background-size: cover;
	width: 210px;
	height: 210px;
	border-radius: 50%;
	position: relative;
	border: 5px solid rgb(206, 29, 29);
    box-shadow: 10px 10px 30px rgb(10 10 10 / 10%);
	margin: 0 auto 1.25rem auto;
}

#Me p {
	font-size: 17px;
	font-weight: 500;
	margin: 20px 0 40px 0;
	color: black;
	padding: 0 20px;
}

#Me b {
	font-size: 24px;
}
/* Intro */





/* My Play*/

#MePlay {
	/*background-color: rgb(253, 184, 184);*/
	background-color: rgb(255, 255, 255);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-attachment: fixed;
	-webkit-background-attachmen: fixed;
	-moz-background-attachmen: fixed;
	-o-background-attachmen: fixed;
	background-repeat: no-repeat;
	width: auto;
	margin: 0;
	text-align: center;
}

#MePlay .news-active {
	text-align: center;
}

#MePlay .photo-circle {
	background-image: url(../Photos/2bedc1f2-3b6d-47b8-a944-3b8895ff31e2.jpg);
	background-size: cover;
	background-position: bottom;
	width: 220px;
	height: 220px;
	border-radius: 50%;
	position: relative;
	border: 5px solid rgb(182, 202, 190);
    box-shadow: 10px 10px 30px rgb(10 10 10 / 10%);
	margin: 40px auto 1.25rem auto;
}

#MePlay p {
	color: black;
	font-weight: 500;
	font-size: 17px;
	margin: 40px 0;
}

#MePlay b {
	color: rgb(255, 0, 0);
	font-weight: 600;
}

#MePlay .box-mp {
	display: block;
	margin-bottom: 60px;
}

#MePlay .box-mp1,
#MePlay .box-mp2,
#MePlay .box-mp3 {
	display: inline-block;
	height: 200px;
	width: 300px;
	margin: 10px 15px;
	background-size: cover;
	background-position: center;
	text-align: center;
}

#MePlay .box-mp1 {background-image: linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)),url(../Photos/v5.jpg);}
#MePlay .box-mp2 {background-image: linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)),url(../image/photo_refuge.jpg);}
#MePlay .box-mp3 {background-image: linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)),url(../image/photo_job.jpg);}

#MePlay a {
	padding: 8px 12px;
	background-color: rgba(0, 0, 0, 0.521);
	border: solid 2px white;
	font-size: 16px;
	font-weight: 500;
	color: white;
	text-decoration: none;
	transition: .2s ease;
	text-transform: capitalize;
	letter-spacing: 2px;
	position: relative;
	top: 45%;
	left: 0;
}

#MePlay a:hover {
	background-color: white;
	color: black;
	font-weight: 500;
}

@media screen and (max-width: 500px) {
	#MePlay .photo-circle {
		width: 180px;
		height: 180px;
	}

	#MePlay .latest-news-wrap {
		margin: 60px 0;
	}
}


/**/
@media screen and (max-width: 995px) {
	.intro {
		height: 720px;
		padding: 60px 0;
	}

	#MePlay > div div {
		width: 100%;
		margin-bottom: 25px;
	}
}
/**/

/*My Play*/




	




/* WATCH */

#Channel {
	padding: 80px 0;
	background-color: #DC3C4D;
}

#Channel .section-title-watch h2 {
	font-weight: 400;
	color: white;
	margin: 0 0 20px 20px;
}

#Channel .section-title-watch h2 font{
	color: white;
	text-shadow: none;
	font-weight: 700;
	text-shadow: 0 5px 10px rgb(58, 0, 0);
}

@media screen and (max-width: 390px) {
	#Channel .section-title-watch h2 {
		font-size: 22px;
	}
	#Channel .section-title-watch h2 font {
		font-size: 26px;
	}
}

#Channel span::before {
	content: 'Videos recientes';
}
#Channel span {
	margin: 20px 0;
	padding: 5px 15px;
	font-size: 20px;
	font-weight: 600;
	color: black;
	background-color: white;
	border-radius: 20px;
}

#Channel .perfil-y {
	/*background-color: rgb(230, 216, 216);*/
	background-color: #c22333;
	box-shadow: 0px 3px 20px #c01627c7;
	height: 415px;
	border-radius: 15px;
	text-align: center;
}

#Channel .perfil-y p {
	margin-top: 21px;
	font-weight: 400;
	font-size: 18px;
	color: white;
	letter-spacing: 3px;
	text-transform: uppercase;
}

@media screen and (max-width: 762px) {
	#Channel .perfil-y {
		width: 100%;
		border-radius: 20px;
		margin-bottom: 60px;
	}
	
}

#Channel .perfil-y .photo-circle-y {
	background-image: url(../Photos/v5.jpg);
	background-size: cover;
	background-position: center;
	width: 220px;
	height: 220px;
	border-radius: 50%;
	position: relative;
	border: 5px solid rgb(255, 255, 255);
    box-shadow: 10px 10px 30px rgb(10 10 10 / 10%);
	margin: 40px auto 1.25rem auto;
}

.video-responsive {
	position: relative;
	padding-bottom: 56.25%; /* 16/9 ratio */
	height: 0;
	overflow: hidden;
	margin-bottom: 20px;
}

.video-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.button-suscribe-follow {
	overflow: hidden;
	padding: 2px 5px;
	position: relative;
	margin-top: 15px;
	width: 200px;
	margin: 20px auto 1.25rem auto;
}


#Channel .items {
	display: flex;
	overflow-x: auto;
	margin: 20px 0;
}

#Channel .items .item {
	min-width: 100%;
	max-height: 200px;
	margin: 10px 10px 10px 0;
}

#Channel .items::-webkit-scrollbar {
	width: 0;
}

#Channel .items::-webkit-scrollbar-thumb {
	background: linear-gradient(to right, #e27f89, white);
	border-radius: 20px;
}

@media screen and (max-width: 1359px) {
	#Channel .items::-webkit-scrollbar {
		display: none;
	}
}

/*
#NorwayPlace {
	background-color: rgb(231, 241, 237);
}*/

#NorwayPlace .section-title h2 {
	margin: 40px 0;
	font-weight: 800;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: black;
	/*color: rgb(119, 204, 170);*/
}

.work {
	margin-top: 25px;
}

.no-gutters {
	margin: 15px 0;
}

.img-wrapper {
	overflow: hidden;
	position: relative;
	border-radius: 5px;
}

.img-wrapper img {
	transition: transform .8s;
	max-width: 100%;
}

.no-gutters:hover .img-wrapper img {
	transform: scale(1.6);
	-webkit-transform: scale(1.6);
	cursor: pointer;
}

.no-gutters .details {
	position: absolute;
	top: 0;
	left: 15px;
	bottom: 300px;
	right: 15px;
	/*background: linear-gradient(rgba(0, 0, 0, 0.192),rgba(0, 0, 0, 0));*/
	font-weight: 400;
	transform: scaleY(0);
	transition: transform .5s;
}

.no-gutters:hover .details {
	transform: scaleY(1);
	-webkit-transform: scaleY(1);;
}

.no-gutters .details .detcont {
	position: absolute;
	top: 20%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	padding: 15px;
}

.no-gutters .details .detcont h2 {
	margin: 0 0 10px 0;
	padding: 5px 10px;
	font-size: 18px;
	font-weight: 600;
	background-color: white;
	color: black;
	border-radius: 20px;
}

#NorwayPlace .btn-g {
	background-color: #DC3C4D;
	margin-bottom: 60px;
}

#NorwayPlace .btn-g button, #NorwayPlace .btn-g:hover button {
	color: white;
}





#Contact {
	/*background-color: white;*/
	background-color: black;
	text-align: center;
}

#Contact .logo-c::before {
	content: 'Elizabeth';
	font-size: 30px;
	font-weight: 300;
	color: white;
	text-transform: uppercase;
}

#Contact .logo-c {
	position: relative;
	letter-spacing: 8px;
	margin: 100px 0 10px 0;
}

#Contact .logo-c2::before {
	content: 'Mroz';
	font-size: 30px;
	font-weight: 600;
	color: rgb(245, 47, 47);
	text-transform: uppercase;
}

#Contact .logo-c2 {
	position: relative;
	letter-spacing: 8px;
	margin: 0 0 80px 0;
}

#Contact .social-media {
	margin-bottom: 80px;
}

#Contact .social-media p {
	color: white;
}

#Contact .social-media li {
	list-style: none;
	text-decoration: none;
	display: inline-block;
	background-color: rgb(224, 224, 224);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin: 10px;
}

#Contact .social-media li a {
	text-align: center;
	position: relative;
}

#Contact .social-media li a i {
	font-size: 30px;
	margin-top: 23%;
	color: black;
	transition: all .3s ease;
}

#Contact .social-media li:hover a i {
	color: #DC3C4D;
}




/* Footer */

.footer {
	font-weight: 400;
	margin: 10px 0 10px 0;
	color: white;
	text-align: center;
}

.footer a {
	color: white;
	text-decoration: none;
	font-weight: 500;
}

.footer a:hover {
	text-decoration: none;
}

.footer-s {
	margin-top: -5px;
	background-color: #DC3C4D;
}

/* Footer */
















/* -Pictures Gallery- */
.Portada2 {
	background-image: url(../image/Cover\ gallery.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 770px;
	width: 100%;
	text-align: center;
}

.title-gallery h2 {
	font-size: 30px;
	font-weight: 300;
	color: white;
	text-transform: uppercase;
	letter-spacing: 4px;
	display: flex;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title-gallery p {
	font-size: 17px;
	font-weight: 500;
	color: white;
	display: flex;
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #c43140;
	border-radius: 15px;
	padding: 15px;
}


/**/
.swiper-section {
	justify-content: center;
	align-items: center;
	display: flex;
}

.swiper-section .swiper-container {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.swiper-section .swiper-container .swiper-slide {
	background-position: center;
	background-size: cover;
	width: 60%;
	height: 60%;
	background-color: rgba(151, 103, 103, 0);
	overflow: hidden;
	text-align: center;
}

.swiper-section .swiper-container .swiper-slide video {
	width: 100%;
	height: 100%;
	outline: none;
}
/**/


.gallery-photos {
	margin: 0 0.65rem;
}

.gallery-item {
	height: auto;
	margin: 0.5rem;
	position: relative;
}

.gallery-photos img {
	max-width: 100%;
	height: auto;
}

.gallery-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media(min-width:640px) {
	.gallery-photos {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5, 300px);
		grid-auto-flow: row dense;
	}

	.gallery-item {
		margin: 0.7rem;
	}

	.gallery-item:first-child {
		grid-row: span 1;
	}

	.gallery-item:nth-child(2) {
		grid-column: 2 / 3;
		grid-row: span 2;
	}

	.gallery-item:nth-child(6),
	.gallery-item:nth-child(8) {
		grid-row: span 2;
	}
}


@media(min-width:960px) {
	.gallery-photos {
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(3, auto-flow);
	}

	.gallery-item:first-child,
	.gallery-item:nth-child(7),
	.gallery-item:nth-child(8) {
		grid-column: span 2;
		grid-row: span 1;
	}

	.gallery-item:nth-child(2) {
		grid-column: span 2;
		grid-row: span 2;
	}
}










/* -News- */

.section-title-n h1 {
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 4px;
	margin-top: -20px;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.144);
}

.title-n {
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;	
	background-image: url(../image/Back\ Text\ Norway.jpg);
	background-size: auto;
	background-attachment: unset;
	background-position: center;
	width: 100%;
	font-size: 134px;
	animation: title-moving infinite 220s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
	text-align: center;
}
@keyframes title-moving {
	0% {
		background-position: center;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: center;
	}
}


.latest-news-wrap{
	margin-bottom: 20px;
	transition: all .4s ease;
}




.content-em h1,
.content-em h2,
.content-em h3 {
	font-size: 25px;
	margin-bottom: 25px;
}

.content-em h1 {
	font-weight: 800;
	color: rgb(255, 215, 215);
}

.content-em h2 {
	font-weight: 400;
	color: rgb(238, 26, 26);
	text-shadow: 0 0 10px rgba(255, 167, 167, 0.61);
	text-transform: uppercase;
}

.content-em h3 {
	font-weight: 800;
	color: white;
}


.content-em p,
.content-em a {
	margin-top: 10px;
	font-weight: 500;
	font-size: 16px;
	color: black;
}

.content-em a {
	width: 100%;
	display: block;
	margin: 0 0 27px 20px;
	transition: all .6s ease;
	color: rgb(99, 91, 91);
	text-shadow: 0 0 10px rgba(194, 161, 161, 0.712);
	font-weight: 700;
}

.content-em a:hover {
	color: white;
	letter-spacing: 3px;
	text-decoration: none;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.712);
}

.content-em span {
	color: rgb(170, 34, 34);
	font-size: 50px;
	margin-left: 20px;
}

.content-em .box-cn {
	/*background: linear-gradient(rgba(241, 241, 241, 0.171),rgba(139, 134, 136, 0.336));*/
	color: red;
	border-radius: 15px;
	/*box-shadow: 0px 3px 10px rgba(51, 49, 49, 0.568);*/
}

@media screen and (max-width: 776px) {
	.content-em .box-cn {
		text-align: left;
		margin-left: 35%;
	}
}

.content-em video {
	width: 100%;
	height: 100%;
	background: #303952;
  	position: relative;
	background-size: cover;
	background-attachment: fixed;
}


.section-title-advice h2 {
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 1px;
	color: rgb(167, 167, 167);
	text-transform: uppercase;
	margin-bottom: 25px;
}






.btn-g {
	overflow: hidden;
	padding: 8px 5px;
	position: relative;
	margin: 20px 0;
	width: 180px;
	margin: 40px auto 1.25rem auto;
	text-align: center;
	border-radius: 5px;
}

.btn-g a,
.btn-g a button {
	width: 100%;
	font-size: 14px;
	font-weight: 600;
	transition: all .3s ease;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.btn-g a button {
	border: none;
	background-color: rgba(255, 255, 255, 0);
}

.btn-g:hover a,
.btn-g:hover a button {
	text-decoration: none;
	letter-spacing: 2px;
}
