@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}

body {
	height: 100%;
	margin:	20;
	padding: 20;
}



nav {
	background-color: white;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

nav::after {
	content: '';
	clear: both;
	display: table;
}

nav > ul, .logo {
	margin-top: 5px;
}

.logo {
	float: left;
	color: black;
	font-size: 17px;
	line-height: 30px;
	margin: 8px 0 0 60px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.logo h4 {
	font-weight: 500;
}

nav ul {
	float: right;
	list-style: none;
	margin-right: 40px;
	position: relative;
}

nav ul li {
	float: left;
	display: inline-block;
	background-color: white;
	margin: 0 5px;
}

nav ul li a {
	color: rgb(58, 47, 50);
	text-decoration: none !important;
	line-height: 50px;
	font-size: 18px;
	font-weight: 600;
	padding: 8px 15px;
	transition: all .5s ease;
}

nav ul li a:hover {
	color: rgb(221, 21, 71);
}


nav ul ul {
	position: absolute;
	top: 55px;
	border-top: 3px solid rgb(221, 21, 71);
	opacity: 0;
	visibility: hidden;
	transition: top .3s;
}

nav ul ul ul {
	border-top: none;
}

nav ul li:hover > ul{
	top: 52px;
	opacity: 1;
	visibility: visible;
}

nav ul ul li {
	position: relative;
	margin-left: -40px;
	width: 130px;
	float: none;
	display: list-item;
	border-bottom: 1px solid rgb(219, 219, 219);
	border-radius: 10px;
}

nav ul ul li a {
	font-size: 14px;
	letter-spacing: 1px;
	transition: all .5s ease;
	color: black;
	font-weight: 600;
}

nav ul ul li a:hover {
	color: rgb(221, 21, 71);
	box-shadow: none;
}

nav ul ul ul li {
	position: relative;
	top: -52px;
	left: 130px;
	border-radius: 10px;
}

.fa-chevron-right, .fa-home, .fa-building {
	margin-left: -3px !important;
	margin-right: 3px !important;
	font-size: 12px;
}

#show1, #show2, input {
	display: none;
}


.burger {
	display: none;
	cursor: pointer;
	position: relative;
}

.burger div {
	width: 25px;
	height: 2px;
	background-color: rgb(187, 191, 202);
	margin: 5px;
	transition: all 0.3s ease;
}


@media screen and (max-width:874px) {

	nav {
		padding-bottom: 6px;
	}

	.logo {
		width: 100%;
		outline: none;
		margin: 0 0 0 60px;

	}

	.logo h4 {
		width: 135px;
		outline: solid rgba(255, 255, 255, 0.616);
		outline-width: thin;
		padding: 10px 0px 10px 10px;
	}

	nav ul {
		margin-right: 0px;
		float: left;
	}

	nav ul li a {
		color: black;
	}

	nav ul li, nav ul ul li {
		display: block;
		width: 100%;
		border-radius: 0px;
	}

	nav ul ul a {
		padding-left: 40px;
	}

	nav ul ul {
		top: 50px;
		position: static;
		border-top: none;
		float: none;
		display: none;
		opacity: 1;
		visibility: visible;
	}

	nav ul ul li a {
		font-size: 16px;
		color:black;
		letter-spacing: 2px;
	}

	nav ul ul ul li {
		position: static;
		border-radius: 0px;
	}

	#show1, #show2 {
		display: block;
		color: black;
		font-weight: 600;
		font-size: 16px;
	}

	#show1 {
		line-height: 50px;
		cursor: pointer;
		padding-left: 15px;
	}

	#show2 {
		display: block;
		transition: all .5s ease;
		padding-left: 40px;
	}

	#show2 span {
		margin-left: 10px !important;
		color: rgb(221, 21, 71);
	}

	#show1 + a, #show2 + a, ul {
		display: none;
	}

	nav ul ul ul a {
		padding-left: 80px;
	}

	[id^=btn]:checked + ul {
		display: block;
	}

	.nav-items {
		display: none;
		transition: all .2s ease;
	}

	.nav-items li {
		opacity: 0;
	}

	.burger {
		display: block;
		position: relative;
		margin: 20px 0 0 10px;
	}
}




.nav-active {
	display: block;
}

@keyframes navItemFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}


.toggle .line1 {
	transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px,-6px);
}







.modal-dialog.em-shop .modal-content,
.modal-dialog.em-contact .modal-content,
.modal-dialog.em-norway .modal-content {
	border-radius: 20px;
}


.modal-dialog.em-shop .modal-content .modal-body img{
	width: 90%;
	margin: 20px 0;
}

.modal-dialog.em-shop .modal-content .modal-body h4{
	font-weight: 400;
	font-size: 20px;
	color: rgb(73, 48, 48);
	letter-spacing: 2px;
	text-transform: uppercase;
}

.modal-dialog.em-shop .modal-content .modal-body p{
	font-weight: 600;
	font-size: 15px;
	color: rgb(95, 95, 95);
	text-transform: initial !important;	
}

.modal-dialog.em-shop .modal-content .modal-body button {
	border-radius: 30px;
	background-color: rgb(216, 65, 65);
	color: white;
	font-size: 16px;
	font-weight: 400;
	outline: none;
	border: none;
	letter-spacing: 1px;
}

.modal-dialog.em-norway .modal-content .modal-footer button {
	border-radius: 20px;
	background-color: rgb(245, 46, 46);
	color: rgb(255, 255, 255);
	font-size: 15px;
	font-weight: 500;
	outline: none;
	border: none;
	padding: 5px 20px;
}





.modal-dialog.em-contact .modal-content .c1,
.modal-dialog.em-contact .modal-content .c2 {
	padding: 10px;
	margin-bottom: 10px;
	width: 100%;
}

.modal-dialog.em-contact .modal-content .c1 [class*=col-],
.modal-dialog.em-contact .modal-content .c2 [class*=col-]{
	margin: 0 5px;
}

.modal-dialog.em-contact .modal-content .modal-body{
	margin: 0;
}

.modal-dialog.em-contact .modal-content p {
	font-weight: 500;
	font-size: 15px;
	color: black;
	text-transform: initial;
}

.modal-dialog.em-contact .modal-content .modal-body .c1 p,
.modal-dialog.em-contact .modal-content .modal-body .c2 p {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 15px;
	color: black;
}


.modal-dialog.em-contact .modal-content .modal-body a {
	font-weight: 600;
	font-size: 14px;
	color: rgb(104, 104, 104);
	outline: none;
	text-decoration: none;
	width: 100%;
	transition: all .4s ease;
}

.modal-dialog.em-contact .modal-content .modal-body a:hover {
	color: rgb(163, 98, 98);
	letter-spacing: 1px;
}

.modal-dialog.em-contact .modal-content .modal-body img {
	width: 70%;
	margin: 0 5px 15px 5px;
	border-radius: 50%;
}

.modal-dialog.em-contact .modal-content .modal-body button {
	background-color: rgb(236, 214, 211);
	color: rgb(218, 69, 69);
	font-size: 16px;
	font-weight: 600;
	outline: none;
	border: none;
}







	






/* Contact */

.red-social-c a
{
	text-decoration: none;
	font-size: 40px;
	color: white;
	padding: 0px 15px;
	transition: all .6s ease;
}

.red-social-c a:hover
{
	text-decoration: none;
	color: #E3CFCF;
	transform: scale(0.9);
	cursor: pointer zoom-in;
}



.contact-section {
	background: linear-gradient(rgb(235, 235, 235), rgb(0, 0, 0));
	color: rgb(255, 255, 255);
	text-align: center;
}

.contact-section h1{
	font-weight: 400;
	font-size: 40px;
	letter-spacing: 4px;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.651);
	margin-top: 150px;
	margin-bottom: 100px;
}

.contact-section h3{
	font-weight: 400;
	font-size: 25px;
	letter-spacing: 1px;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.651);
	margin-top: 100px;
}

.name, .email{
	background: none;
	border: none;
	outline: none;
	border-bottom: 2px solid rgb(255, 144, 144);
	color: white;
	padding: 10px 6px;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 40px;
}

.message{
	background: none;
	border: none;
	outline: none;
	border-bottom: 2px solid rgb(255, 144, 144);
	color: rgb(255, 194, 194);
	padding: 10px 6px;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 40px;
	text-transform: initial;
}

.name::placeholder, .email::placeholder, .message::placeholder {
	color: rgba(255, 255, 255, 0.781);
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.918);
}

.name {
	float: left;
	width: 270px;
}

.email {
	float: right;
	width: 270px;
}

.message {
	min-width: 100%;
	max-width: 100%;
}

.contact-section button {
	background: none;
	outline: none;
	border: none;
	border-radius: 30px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.24);
	transition: all 0.3s ease-in;
	font-weight: 500;
	font-size: 22px;
	color: rgb(253, 222, 222);
	padding: 4px 38px;
	letter-spacing: 1px;
}

.contact-section button span {
	font-weight: 500;
	font-size: 23px;
	margin-right: 3px;
}

.contact-section button:hover {
	background-color: rgba(0, 0, 0, 0.247);
}

@media screen and (max-width: 600px)
{
	.name, .email {
		width: 100%;
	}
}

/* Contact */











/*Photo Page*/

.slider {
	width: 100%;
	height: 600px;
	background-image: url("../image/Photo1.jpg");
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
}

.post-slider{
	position: relative;
	border-radius: 10px;
}

.post-slider i{
	color: rgb(121, 121, 121);
	font-size: 80px !important;
	transition: all .4s ease;
	margin: 0 20px;
}

.post-slider i:hover{
	color: rgb(248, 3, 3);
}

@media screen and (max-width: 1040px){
	.post-slider i{
		font-size: 60px !important;
	}
}

@media screen and (max-width: 1024px){
	.post-slider i{
		font-size: 40px !important;
	}
}

@media screen and (max-width: 494px) {
	.post-slider i{
		font-size: 20px !important;
		margin: 0;
	}

	.page-wrapper .post-slider .post-wrapper .post {
		margin: 0;
	}
}

.post-slider .post-wrapper{
	width: 75%;
	height: auto;
	margin: 0px auto;
	overflow: hidden;
	padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post{
	width: 30px;
	height: auto;
	margin: 0px 10px;
	display: inline-block;
}

.post-slider .post-wrapper .post span{
	position: absolute;
	font-weight: 700;
	font-size: 28px;
	color: rgb(88, 58, 82);
	margin-left: 30px;
	margin-top: 20px;
	border-radius: 20px;
	background-color: white;
}

.post-slider .post-wrapper .post span p {
	margin: 0 15px;
}

@media screen and (max-width: 576px)
{
	.post-slider .post-wrapper .post span {
		font-size: 14px;
		margin-left: 6px;
		margin-top: 6px;
	}
}

.post-slider .post-wrapper .post video {
	outline: none !important;
	border: none;
}

.post-slider .post-wrapper .post .slider-image{
	width: 100%;
	height: 100%;
}

.post-slider .prev{
	position: absolute;
	top: 50%;
	left: 10px;
	font-size: 2rem;
	cursor: pointer;
}

.post-slider .next{
	position: absolute;
	top: 50%;
	right: 10px;
	font-size: 2rem;
	cursor: pointer;
}


.goMedia
{
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease 0s;
	background-color: #FFDAFA;
	color: #E602E6;
	border-radius: 30px;
	margin: 1rem;
	width: 170px;
	height: 50px;
}

.goMedia:hover
{
	background-color: #731273;
	color: white;
}

/*Photo Page*/







/* -Pictures Gallery- */


.title-gallery h1 {
	font-size: 40px;
	font-weight: 400;
	color: rgb(0, 0, 0);
	text-shadow: 0 0 10px rgba(255, 167, 167, 0.61);
	text-transform: uppercase;
	letter-spacing: 3px;
}

.title-gallery h2 {
	font-size: 30px;
	font-weight: 400;
	color: rgb(124, 107, 107);
	text-transform: uppercase;
	letter-spacing: 3px;
}

.title-gallery p {
	font-size: 20px;
	font-weight: 500;
	color: rgb(59, 59, 59);
	margin-top: 80px;
}

.title-gallery2 p {
	font-size: 18px;
	font-weight: 500;
	color: white;
	margin-top: 5px;
}

@media screen and (max-width: 734px) {
	.title-gallery p {
		margin-top: 210px;
		font-size: 17px;
	}
}

@media screen and (max-width: 449px) {
	.title-gallery p,
	.title-gallery2 p {
		font-size: 15px;
	}
}





.work {
	margin-top: 25px;
}

.work button {
	margin: 10px 0;
	font-size: 15px;
	font-weight: 600;
	border-radius: 15px;
	color: white;
	padding: 10px 20px;
	background-color: rgb(228, 13, 13);
	border: none;
	outline: none;
}

.no-gutters {
	margin: 10px 0;
}

.btn-g {
	margin-top: 15px;
}

.btn-g a {
	border-radius: 30px;
	background-color: rgb(165, 165, 165);
	color: white;
	width: 100%;
	font-size: 18px;
	font-weight: 400;
	padding: 10px 28px;
	letter-spacing: 1px;
	transition: all .4s ease;
}

.btn-g a:hover {
	text-decoration: none;
	color: rgb(128, 128, 128);
	background-color: rgb(243, 243, 243);
}


.img-wrapper {
	overflow: hidden;
	position: relative;
	/*box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.507);*/
}

.img-wrapper img {
	transition: transform .8s;
	max-width: 100%;
}

.no-gutters:hover .img-wrapper img {
	transform: scale(1.6);
	cursor: pointer;
}


.no-gutters .details {
	position: absolute;
	top: 0;
	left: 15px;
	bottom: 300px;
	right: 15px;
	background: linear-gradient(rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0));
	font-weight: 400;
	color: white;
	transform: scaleY(0);
	transition: transform .5s;
}

.no-gutters:hover .details {
	transform: scaleY(1);
}

.no-gutters .details .detcont {
	position: absolute;
	top: 30%;
	transform: translateY(-50%);
	padding: 15px;
}

.work .no-gutters .details .detcont h2{
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/* -Pictures Gallery- */













/* -News- */

.section-title-n h1 {
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 4px;
	margin-top: -20px;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.144);
}

.title-n {
	font-family: 'Coiny', cursive;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;	
	background-image: url(../image/Back\ Text\ Norway.jpg);
	background-size: auto;
	background-attachment: unset;
	background-position: center;
	width: 100%;
	font-size: 134px;
	animation: title-moving infinite 220s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
	text-align: center;
}
@keyframes title-moving {
	0% {
		background-position: center;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: center;
	}
}






.latest-news-area{
	margin-top: 40px;
}

.latest-news-wrap{
	box-shadow: 0px 3px 10px rgba(201, 201, 201, 0.507);
	background: rgb(235, 223, 223);
	border-radius: 15px;
	margin-bottom: 20px;
	transition: all .4s ease;
}

.latest-news-wrap:hover{
	box-shadow: 0px 3px 10px rgb(173, 155, 155);
}

.latest-news-wrap-y{
	box-shadow: 0px 3px 10px rgba(141, 27, 27, 0.507);
	background: rgb(212, 88, 88);
	border-radius: 15px;
	margin-bottom: 20px;
}

.latest-news-wrap-y .news-content span,
.latest-news-wrap-y .news-content p{
	color: white;
}

.latest-news-wrap-y .news-content p b{
	color: rgb(100, 8, 8);
}


.content-em h1,
.content-em h2,
.content-em h3 {
	font-size: 25px;
	margin-bottom: 25px;
}

.content-em h1 {
	font-weight: 800;
	color: rgb(255, 215, 215);
}

.content-em h2 {
	font-weight: 400;
	color: rgb(255, 255, 255);
	text-shadow: 0 0 10px rgba(255, 167, 167, 0.61);
	text-transform: uppercase;
}

.content-em h3 {
	font-weight: 800;
	color: white;
}


.content-em p,
.content-em a {
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.808);
	text-shadow: 0 0 10px rgba(90, 50, 50, 0.712);
}

.content-em a {
	width: 100%;
	display: block;
	margin-bottom: 27px;
	transition: all .6s ease;
	color: rgb(99, 91, 91);
	text-shadow: 0 0 10px rgba(194, 161, 161, 0.712);
	font-weight: 700;
}

.content-em a:hover {
	color: white;
	letter-spacing: 3px;
	text-decoration: none;
}

.content-em span {
	color: rgb(170, 34, 34);
	font-size: 50px;
}

.content-em .box-cn {
	/*background: linear-gradient(rgba(241, 241, 241, 0.171),rgba(139, 134, 136, 0.336));*/
	color: red;
	border-radius: 15px;
	/*box-shadow: 0px 3px 10px rgba(51, 49, 49, 0.568);*/
}

@media screen and (max-width: 776px) {
	.content-em .box-cn {
		text-align: center;
	}
}

.content-em video {
	width: 100%;
	height: 100%;
	background: #303952;
  	position: relative;
	background-size: cover;
	background-attachment: fixed;
}


.section-title-advice h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 1px;
	color: rgb(167, 167, 167);
	text-transform: uppercase;
	margin-bottom: 25px;
}